#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.square {
	width: 400px;
	height: 400px;
	background: rgb(235, 91, 154);
	background: linear-gradient(
		90deg,
		rgba(235, 91, 154, 1) 0%,
		rgba(88, 118, 223, 1) 100%
	);
	margin: auto;
}

.form {
	display: flex;
	justify-content: center;
	gap: 28px;
	width: 500px;
	flex-wrap: wrap;
	margin: 30px auto;
}

label {
	display: flex;
	flex-direction: column;
  width: 188px;
}

input {
	border: none;
	outline: 0;
	height: 3em;
}
